body{
    background-color: #7F8882;
    color: #071342;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px;
}

.main{
justify-content: center;
display: flex;
align-items: center;
}

#start-button{
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.button{
    cursor: pointer;
    font-size: 20px;
    color: black;
}

.opt-button{
    margin: 5px;
    width: 100%;
    text-align: left;
}

a:hover, .scores, #start-button:hover, .button:hover{
    color: red;
}

#result{
    display: none;
}

.quiz{
    max-width:100%;
    margin: 150px;
    padding: 100px;
    border-radius: 10%;
}

.inline-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.quiz{
    max-width:100%;
    margin: 150px;
    border: 10px solid #071342;
    padding: 120px;
    border-radius: 15%;
}